body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1457px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:100px;
  background:inherit;
  background-color:rgba(0, 102, 204, 1);
  border:none;
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:49px;
  width:60px;
  height:100px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:56px;
  word-wrap:break-word;
}
#u381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:100px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:149px;
  width:60px;
  height:100px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:56px;
  word-wrap:break-word;
}
#u383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:100px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:249px;
  width:60px;
  height:100px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:56px;
  word-wrap:break-word;
}
#u385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:100px;
  background:inherit;
  background-color:rgba(0, 255, 204, 1);
  border:none;
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:349px;
  width:60px;
  height:100px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:56px;
  word-wrap:break-word;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:49px;
  width:528px;
  height:700px;
  overflow:hidden;
}
#u387_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:700px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u387_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:699px;
  background:inherit;
  background-color:rgba(0, 102, 204, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:699px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:342px;
  width:523px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:113px;
  width:30px;
  height:30px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:326px;
  width:30px;
  height:30px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:434px;
  width:30px;
  height:30px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:67px;
  width:300px;
  height:76px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:204px;
  width:300px;
  height:152px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:403px;
  width:300px;
  height:61px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u387_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:700px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u387_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:700px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:700px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:342px;
  width:523px;
  visibility:hidden;
  word-wrap:break-word;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:240px;
  width:30px;
  height:30px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:327px;
  width:30px;
  height:30px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u387_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:700px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u387_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:700px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:700px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:342px;
  width:523px;
  visibility:hidden;
  word-wrap:break-word;
}
#u410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:240px;
  width:30px;
  height:30px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:317px;
  width:30px;
  height:30px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:386px;
  width:30px;
  height:30px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:463px;
  width:30px;
  height:30px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u387_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:700px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u387_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:700px;
  background:inherit;
  background-color:rgba(0, 255, 204, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:700px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:342px;
  width:524px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:240px;
  width:30px;
  height:30px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:380px;
  width:30px;
  height:30px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u387_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:700px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u387_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:700px;
  background:inherit;
  background-color:rgba(102, 255, 255, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:700px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:342px;
  width:524px;
  visibility:hidden;
  word-wrap:break-word;
}
#u426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:240px;
  width:30px;
  height:30px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:304px;
  width:30px;
  height:30px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:369px;
  width:30px;
  height:30px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:100px;
  background:inherit;
  background-color:rgba(102, 255, 255, 1);
  border:none;
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:449px;
  width:60px;
  height:100px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:56px;
  word-wrap:break-word;
}
#u434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:354px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:1234px;
  top:401px;
  width:223px;
  height:354px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:169px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:23px;
  width:60px;
  height:60px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:716px;
  width:60px;
  height:60px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:49px;
  width:400px;
  height:300px;
  overflow:hidden;
}
#u440_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:300px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u440_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u440_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:300px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u440_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:302px;
  background:inherit;
  background-color:rgba(102, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:302px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:143px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:716px;
  width:60px;
  height:60px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:370px;
  width:400px;
  height:359px;
  overflow:hidden;
}
#u445_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:359px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u445_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u445_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:359px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u445_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:500px;
  background:inherit;
  background-color:rgba(0, 102, 204, 1);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:500px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:45px;
  width:30px;
  height:30px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:500px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:400px;
  height:500px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:130px;
  width:30px;
  height:30px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:500px;
  background:inherit;
  background-color:rgba(0, 204, 204, 1);
  border:none;
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u458 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:400px;
  height:500px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:215px;
  width:30px;
  height:30px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
