body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1130px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:97px;
  width:300px;
  height:500px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:242px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
  background:inherit;
  background-color:rgba(0, 255, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:97px;
  width:300px;
  height:500px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:242px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:563px;
  width:60px;
  height:60px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:127px;
  width:245px;
  height:427px;
}
#u495_input {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:427px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:127px;
  width:245px;
  height:427px;
}
#u496_input {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:427px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:67px;
  width:60px;
  height:60px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:563px;
  width:60px;
  height:60px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 仿宋 Std R Bold', 'Adobe 仿宋 Std R', 'Adobe 仿宋 Std';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:97px;
  width:115px;
  height:37px;
  font-family:'Adobe 仿宋 Std R Bold', 'Adobe 仿宋 Std R', 'Adobe 仿宋 Std';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 仿宋 Std R Bold', 'Adobe 仿宋 Std R', 'Adobe 仿宋 Std';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:97px;
  width:86px;
  height:37px;
  font-family:'Adobe 仿宋 Std R Bold', 'Adobe 仿宋 Std R', 'Adobe 仿宋 Std';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
