body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:983px;
  height:715px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:121px;
  width:983px;
  height:715px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:350px;
  width:979px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:90px;
  height:127px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:185px;
  width:80px;
  height:110px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:76px;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:0px;
  width:90px;
  height:125px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:458px;
  width:80px;
  height:110px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:76px;
  word-wrap:break-word;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:90px;
  height:125px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:487px;
  width:80px;
  height:110px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:76px;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:90px;
  height:123px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:316px;
  width:80px;
  height:110px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:76px;
  word-wrap:break-word;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:531px;
  width:69px;
  height:66px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:354px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:365px;
  width:223px;
  height:354px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:169px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:354px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:365px;
  width:464px;
  height:354px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:169px;
  width:460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:1347px;
  top:502px;
  width:31px;
  height:66px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1480px;
  height:140px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1480px;
  height:140px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:1476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:1170px;
  top:8px;
  width:85px;
  height:85px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:8px;
  width:85px;
  height:85px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 仿宋 Std R Bold', 'Adobe 仿宋 Std R', 'Adobe 仿宋 Std';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:1163px;
  top:93px;
  width:100px;
  height:48px;
  font-family:'Adobe 仿宋 Std R Bold', 'Adobe 仿宋 Std R', 'Adobe 仿宋 Std';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 仿宋 Std R Bold', 'Adobe 仿宋 Std R', 'Adobe 仿宋 Std';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:1297px;
  top:93px;
  width:51px;
  height:48px;
  font-family:'Adobe 仿宋 Std R Bold', 'Adobe 仿宋 Std R', 'Adobe 仿宋 Std';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:1375px;
  top:8px;
  width:85px;
  height:85px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Adobe 仿宋 Std R Bold', 'Adobe 仿宋 Std R', 'Adobe 仿宋 Std';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:1392px;
  top:93px;
  width:51px;
  height:48px;
  font-family:'Adobe 仿宋 Std R Bold', 'Adobe 仿宋 Std R', 'Adobe 仿宋 Std';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
