body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1185px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:738px;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:0px;
  width:936px;
  height:738px;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:361px;
  width:932px;
  visibility:hidden;
  word-wrap:break-word;
}
#u541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:48px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:10px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 10px rgba(27, 27, 27, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(27, 27, 27, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(27, 27, 27, 0.349019607843137);
  font-family:'Adobe 仿宋 Std R Bold', 'Adobe 仿宋 Std R', 'Adobe 仿宋 Std';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:213px;
  width:210px;
  height:48px;
  font-family:'Adobe 仿宋 Std R Bold', 'Adobe 仿宋 Std R', 'Adobe 仿宋 Std';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:206px;
  word-wrap:break-word;
}
#u543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 102, 102, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 10px rgba(27, 27, 27, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(27, 27, 27, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(27, 27, 27, 0.349019607843137);
  font-family:'Adobe 仿宋 Std R Bold', 'Adobe 仿宋 Std R', 'Adobe 仿宋 Std';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:213px;
  width:70px;
  height:48px;
  font-family:'Adobe 仿宋 Std R Bold', 'Adobe 仿宋 Std R', 'Adobe 仿宋 Std';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:261px;
  width:280px;
  height:170px;
  overflow:hidden;
}
#u545_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:170px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u545_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:170px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:170px;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:110px;
  width:140px;
  height:40px;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:12px;
  width:215px;
  height:32px;
}
#u550_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:rgba(0, 0, 0, 0.498039215686275);
  text-align:left;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:66px;
  width:215px;
  height:32px;
}
#u551_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:rgba(0, 0, 0, 0.498039215686275);
  text-align:left;
}
#u545_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:170px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u545_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 204, 204, 1);
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:170px;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:110px;
  width:140px;
  height:40px;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:66px;
  width:215px;
  height:32px;
}
#u556_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:rgba(0, 0, 0, 0.498039215686275);
  text-align:left;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:12px;
  width:215px;
  height:32px;
}
#u557_input {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:rgba(0, 0, 0, 0.498039215686275);
  text-align:left;
}
